<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_wysiwyg_images_static_urls_allowed">
        <observer name="mageos_allow_widget_images" instance="MageOS\AdvancedWidget\Observer\AllowImages"/>
    </event>
</config>
