<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="advanced_widget" frontName="advanced_widget">
            <module name="MageOS_AdvancedWidget" before="Magento_Backend" />
        </route>
    </router>
</config>
